{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
   "bracketSpacing": true,
  "endOfLine": "auto"
}
